@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,300;0,500;0,600;0,900;1,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-weight: 600;
	font-family: 'Livvic', sans-serif;
	margin: 0px;
	text-align: center;
	color: #454555;
}

header h1 {
	margin: 10px 0;
}

.menu,
.user-container {
	padding: 30px 0;
	background: linear-gradient(#fff, #aaaabc);
	border-bottom: 4px #aaaabc solid;
}

.topic-list {
	display: flex;
	position: relative;
	overflow: auto;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

.topic-list div {
	list-style: none;
	margin: 0;
	padding: 5px 20px;
	font-size: 0.9rem;
	font-weight: 300;
	color: #454555;
	line-height: 2em;
	white-space: nowrap;
}

.topic-list div:hover {
	background-color: rgba(170, 170, 188, 0.3);
	font-weight: 500;
	color: #f8f8ff;
}

.topic-list div a {
	text-decoration: none;
	color: inherit;
}

.topic-list::-webkit-scrollbar {
	height: 3px;
}

.topic-list::-webkit-scrollbar-track-piece {
	background-color: #aaaabc;
	width: 30px;
}

.topic-list::-webkit-scrollbar-thumb {
	background-color: #454555;
	border-radius: 3px;
}

.topic-list::-webkit-scrollbar-thumb:hover {
	background: #b000;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.topic-list::-webkit-scrollbar-thumb:active {
	background-color: #999999;
}

.gallery {
	background: #000;
}

.gallery-item {
	position: relative;
}

.photo {
	cursor: pointer;
}

.author-data.info-gallery {
	position: absolute;
	bottom: -60px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	right: 80px;
	left: 80px;
	transition: all 0.5s ease;
}

.owl-item.center .author-data.info-gallery {
	bottom: 10px;
}

.galleryData-image {
	/* width: 600px !important; */
	object-fit: cover;
	height: 400px;
}

.gallery-item.author-data {
	position: absolute;
}

.owl-item {
	opacity: 0.6;
	filter: saturate(0.3);
}

.owl-item.center {
	opacity: 1;
	filter: saturate(1);
	z-index: 3;
	box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.25);
}

.search-box {
	width: 100%;
	margin: 0 auto;
	padding: 40px 0 80px;
	border-top: 3px #aaaabc solid;
	background: linear-gradient(#aaaabc, #fff);
}

.photo-grid {
	width: 80%;
	margin: 60px auto 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 10px;
	position: relative;
	z-index: 1;
}

.not-found {
	display: flex;
	justify-content: center;
	margin-top: 5px;
}

.photo-grid h1 {
	align-self: center;
}

.photo-grid .grid-item-box {
	border: 1px solid #aaaabc;
	padding: 5px;
	padding-bottom: 35px;
	background-color: #fff;
}

.caption {
	font-size: 0.6rem;
	font-style: italic;
}

.author-data {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.owl-item.center .author-data {
	color: #000;
}

.author-name {
	font-size: 0.8rem;
	/* color: #aaaabc; */
}

.author-image {
	width: 150px;
	border-radius: 50%;
	border: 1px solid #454555;
	margin: 5px;
}

.user-container .author-image {
	margin-left: 40px;
}

.user-container .author-data {
	cursor: auto;
	justify-content: flex-start;
	width: 80%;
	margin: 0 auto;
	border-bottom: 2px solid rgb(190, 190, 190);
	box-shadow: 0px 5px 25px 15px rgb(190 190 190 / 60%);
	min-height: 270px;
}

.user-container a {
	text-decoration: none;
	color: #454555;
}

.author-info {
	text-align: left;
	padding: 15px;
	padding-left: 30px;
	font-size: 0.85rem;
}

.author-info .icon {
	padding-right: 10px;
	color: #999999;
	font-size: 1rem;
}

.small {
	width: 35px !important;
}

.photo-grid img {
	max-width: 100%;
}

.search-box form {
	display: flex;
	justify-content: center;
}

.search-box input[type='text'] {
	font-family: 'Livvic', sans-serif;
	background-color: transparent;
	border: 0px solid transparent;
	border-bottom: 2px solid #8aa1ff;
	text-align: center;
	font-size: 1.3rem;
}

.search-box input[type='text']:focus {
	outline: 0px solid transparent;
}
.search-box input[type='text']::placeholder {
	font-family: 'Livvic', sans-serif;
	color: #454555;
	font-size: 0.8rem;
}

#more-results,
.search-box input[type='submit'] {
	background-color: #8aa1ff;
	font-family: 'Livvic', sans-serif;
	border: 0 solid transparent;
	cursor: pointer;
	padding: 5px 30px;
}

#more-results {
	margin: 0 auto;
}

.modal {
	display: none;
	position: fixed;
	top: 0;
	z-index: 2;
	place-items: center;
	width: 100vw;
	height: 100vh;
	/* overflow: auto; */
}

.modal-bg {
	position: fixed;
	z-index: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
	position: relative;
	max-width: 80vw;
	margin: 0 auto;
}

.modal-container img {
	max-width: 100%;
}

.modal-container a {
	color: #fff;
	text-decoration: none;
}

.icon-close {
	padding: 9px;
	background-color: rgba(0, 0, 0, 0.3);
}

.icon-close {
	position: absolute;
	right: 20px;
	top: 20px;
}

@media screen and (max-width: 780px) {
	.photo-grid {
		width: 80vw;
		display: flex;
		flex-direction: column;
	}

	.modal-container {
		width: 90vw;
	}
}
